<a href="https://colab.research.google.com/github/Kavhein/Kavhein_mithranpythonclass/blob/main/code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#this is my first programme 

a=int(6)
b=int(4)
print(a+b)

#input a = 6
#input b = 4
#print(a+b)

10

In [ ]:
#2nd programme
a=int(input("Enter your first number: "))
b=int(input("Enter your second number: "))

print(a+b)

print(a/b)

print(a*b)

print(a-b)

Enter your first number: 1
Enter your second number: 1
2
1.0
1
0

In [ ]:
#3rd programme 1. Write a program to find the area of circle and a sphere given 
#the radius as input
#2. Modify the same program to find the respective volumes also

k = 22/7
b=int(input("ð¸ð“ƒð“‰ð‘’ð“‡ ð“‰ð’½ð‘’ ð“‡ð’¶ð’¹ð’¾ð“Šð“ˆ ð‘œð’» ð“‰ð’½ð‘’ ð’¸ð’¾ð“‡ð’¸ð“ð‘’: "))
print(k*b*b) 
print(4*k*b*b)
#1.formula for circle pi r^2
#1.formula for area of a sphere 4 pi r^2
#2.circle doesn't have volume 
#2.volume of sphere is 4/3 pi r*r*r
print(4/3*k*b*b*b)

ð¸ð“ƒð“‰ð‘’ð“‡ ð“‰ð’½ð‘’ ð“‡ð’¶ð’¹ð’¾ð“Šð“ˆ ð‘œð’» ð“‰ð’½ð‘’ ð’¸ð’¾ð“‡ð’¸ð“ð‘’: 5
78.57142857142857
314.2857142857143
523.8095238095237

In [ ]:
# Program make a simple calculator

# This function adds two numbers
''' A return statement is used to end the execution of the 
function call and â€œreturnsâ€ the result (value of the expression 
following the return keyword) to the caller'''

def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # Take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # Check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        a = float(input("Enter first number: "))
        b = float(input("Enter second number: "))

        if choice == '1':
            print(a, "+", b, "=", add(a, b))

        elif choice == '2':
            print(a, "-", b, "=", subtract(a, b))

        elif choice == '3':
            print(a, "*", b, "=", multiply(a, b))

        elif choice == '4':
            print(a, "/", b, "=", divide(a, b))
        break
    else:
        print("INVALID INPUT CHOOSE BETWEEN 1-4 ONLY!!")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2

KeyboardInterrupt: ignored

In [ ]:


a = "              the imparting or exchanging of information by speaking, writing, or using some other medium"
x = a.capitalize()
print(x)

y = a.find("i")
print(y)

z = a.count("t")
print(z)

p = a.center(50)
print(p)

q = a.split(" ")
print(q)

k = a.strip()
print(k)

              the imparting or exchanging of information by speaking, writing, or using some other medium
18
5
              the imparting or exchanging of information by speaking, writing, or using some other medium
['', '', '', '', '', '', '', '', '', '', '', '', '', '', 'the', 'imparting', 'or', 'exchanging', 'of', 'information', 'by', 'speaking,', 'writing,', 'or', 'using', 'some', 'other', 'medium']
the imparting or exchanging of information by speaking, writing, or using some other medium

In [ ]:
#write a program to check if a given number is even
#algorithms
#get the number 
#divide by 2
#check the remainder 
#if remainder=0 print"given number is even"
#else print "given number is odd"

In [ ]:
# % indicates Remainder
# / indicates Quotient
a=int(input("Enter your number:"))
if (a%3==0):
    print("{} is divisible by 3".format(a))
else:
    print("{} is not divisible by 3".format(a))

Enter your number:3
3 is divisible by 3

In [ ]:
"""to check if the given 
5 numbers are divisible 
by 3 or not """

a=int(input("enter the number:"))
b=int(input("enter the number:"))
c=int(input("enter the number:"))
d=int(input("enter the number:"))
e=int(input("enter the number:"))

#function

def divisibility_check(k):
  if (k%3==0):
    print(str(k) + " is divisible by 3")
  else:
      print(str(k) + " is not divisible by 3")

divisibility_check(a)
divisibility_check(b)
divisibility_check(c)
divisibility_check(d)
divisibility_check(e)

enter the number:3
enter the number:6
enter the number:9
enter the number:1
enter the number:4
3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
1 is not divisible by 3
4 is not divisible by 3

In [ ]:
"""to check if the given 
5 numbers are divisible 
by 3 or 2 """

a=int(input("enter the number:"))
b=int(input("enter the number:"))
c=int(input("enter the number:"))
d=int(input("enter the number:"))
e=int(input("enter the number:"))

def divisibility_check_3 (k):
  if (k%3==0):
    print(str(k) + " is divisible by 3")
  else:
    print(str(k) + " is not divisible by 3")

def divisibility_check_2 (l):
  if (l%2==0):
    print(str(l) + " is divisible by 2")
  else:
    print(str(l) + " is not divisible by 2")

divisibility_check_3(a)
divisibility_check_3(b)
divisibility_check_3(c)
divisibility_check_3(d)
divisibility_check_3(e)

divisibility_check_2(a)
divisibility_check_2(b)
divisibility_check_2(c)
divisibility_check_2(d)
divisibility_check_2(e)

In [ ]:
for i in range(1,7):
  a = int(input("Enter the number for i in range(1,7):"))
  
  if (a%2 == 0 ):
    print(str(a)+ " is divisible by 2")
  else:
    print(str(a)+ " is NOT divisible by 2")


  if (a%3 == 0 ):
    print(str(a)+ " is divisible by 3")
  else:
    print(str(a)+ " is NOT divisible by 3")


  if (a%5 == 0 ):
    print(str(a)+ " is divisible by 5")
  else:
    print(str(a)+ " is NOT divisible by 5")


  if (a%7 == 0 ):
    print(str(a)+ " is divisible by 7")
  else:
    print(str(a)+ " is NOT divisible by 7")


  if (a%11 == 0 ):
    print(str(a)+ " is divisible by 11")
  else:
    print(str(a)+ " is NOT divisible by 11")


  if (a%13 == 0 ):
    print(str(a)+ " is divisible by 13")
  else:
    print(str(a)+ " is NOT divisible by 13")

Enter the number for i in range(1,7):1
1 is NOT divisible by 2
1 is NOT divisible by 3
1 is NOT divisible by 5
1 is NOT divisible by 7
1 is NOT divisible by 11
1 is NOT divisible by 13
Enter the number for i in range(1,7):2
2 is divisible by 2
2 is NOT divisible by 3
2 is NOT divisible by 5
2 is NOT divisible by 7
2 is NOT divisible by 11
2 is NOT divisible by 13
Enter the number for i in range(1,7):3
3 is NOT divisible by 2
3 is divisible by 3
3 is NOT divisible by 5
3 is NOT divisible by 7
3 is NOT divisible by 11
3 is NOT divisible by 13
Enter the number for i in range(1,7):4
4 is divisible by 2
4 is NOT divisible by 3
4 is NOT divisible by 5
4 is NOT divisible by 7
4 is NOT divisible by 11
4 is NOT divisible by 13
Enter the number for i in range(1,7):5
5 is NOT divisible by 2
5 is NOT divisible by 3
5 is divisible by 5
5 is NOT divisible by 7
5 is NOT divisible by 11
5 is NOT divisible by 13
Enter the number for i in range(1,7):6
6 is divisible by 2
6 is divisible by 3
6 is NOT divisible by 5
6 is NOT divisible by 7
6 is NOT divisible by 11
6 is NOT divisible by 13

In [ ]:
"""list program"""

fruitsbasket = ["banana","mango","orange","guava","pineapple"]
fruitsbasket.remove("pineapple")
fruitsbasket.append("tomato")
fruitsbasket.insert(0,"sugarcane")
fruitsbasket.sort()
print(fruitsbasket)

['banana', 'guava', 'mango', 'orange', 'sugarcane', 'tomato']

In [ ]:
#tuple
fruits=("banana","mango","orange","guava","pineapple")
student=[("kavhein","maths","85"),("aravindh","maths","90")]
print(fruits)
print(student)

('banana', 'mango', 'orange', 'guava', 'pineapple')
[('kavhein', 'maths', '85'), ('aravindh', 'maths', '90')]

In [ ]:
#set
fruits = {"banana","mango","orange","guava","banana"}
print(fruits)

{'orange', 'banana', 'mango', 'guava'}

In [ ]:
#dictionary
student={"name":"Kavhein","Subject":"maths","marks":"99"}
print(student)

{'name': 'Kavhein', 'Subject': 'maths', 'marks': '99'}

In [ ]:
"""list of student dictionary 3 students"""
students=[{"name":"Kavhein","Subject":"maths","marks":"99"},     #0
          {"name":"Aadhitya","Subject":"maths","marks":"100"},   #1
          {"name":"Aadit","Subject":"maths","marks":"98"}]       #2
print(students[2]['marks'])

98

In [ ]:
a=int(input("Enter your number:"))
if (a%3==0):
    print(str(a)+ " is divisible by 3")
else:
    print(str(a)+ " is not divisible by 3")

Enter your number:3
3 is divisible by 3

In [ ]:
#first program (1st)
a=float(input("Enter a number: "))  #1
b=float(input("Enter a number: "))  #2
c=str(input("Enter operation: "))   #3
if (c== '+'):                       #4
   print("Answer is ",a+b)          #5
elif (c=='-'):                      #6
   print("Answer is ",a-b)          #7
elif (c=='*'):                      #8
   print("Answer is ",a*b)          #9
elif (c=='/'):                      #10
   print("Answer is: ",a/b)         #11
else:                               #12
   print("Enter valid operation")   #13

Enter a number: 7
Enter a number: 8
Enter operation: +
Answer is  15.0

In [ ]:
a=float(input("Enter your first number "))
b=float(input("Enter your second number "))
c=str(input("Enter a operation between +,-,*,/"))
if (c== '+'):
  print("Answer is ",a+b)
elif (c== '-'):
  print("Answer is ",a-b)
elif (c== '*'):
  print("Answer is ",a*b)
elif (c== '/'):
  print("Answer is ",a/b)
else: 
  print("Enter a valid operation")

Enter your first number 2
Enter your second number 2
Enter a operation between +,-,*,/
Enter a valid operation

In [ ]:
    a = float(input("Enter the first term : "))
    b = float(input("Enter the difference : "))
for i in range(1,11):
   print(a+(i-1)*b)
   #AP
#second program (2nd)

Enter the first term : 3
Enter the difference : 3
3.0
6.0
9.0
12.0
15.0
18.0
21.0
24.0
27.0
30.0

In [ ]:
    a =int (input("Enter first term: "))
    d = int (input("Enter common difference: "))
for n in range(1,11):
   print("The AP is",a+(n-1)*d)

Enter first term: 3
Enter common difference: 3
The AP is 3
The AP is 6
The AP is 9
The AP is 12
The AP is 15
The AP is 18
The AP is 21
The AP is 24
The AP is 27
The AP is 30

In [ ]:
students=[{"Name":"Kavhein","Date of birth":"27/02/06","Class":"11th"},   
          {"Name":"Dharshana","Date of birth":"21/07/2005","Class":"11th"},   
          {"Name":"Pranav","Date of birth":"29/09/2010","Class":"7th"}] 
print(students[0]['Name'])

Kavhein

In [ ]:
#third program (3rd)
a=str(input("â€¢ Enter the name of 1st student : "))
b=str(input("â€¢ Enter the Date of birth of 1st student : "))
c=str(input("â€¢ Enter the class of 1st student : " ))
print("Datebase for 1st student has been successfully created !!")

a=str(input("â€¢ Enter the name of 2nd student : "))
b=str(input("â€¢ Enter the Date of birth of 2nd student : "))
c=str(input("â€¢ Enter the class of 2nd student : " ))
print("Datebase for 2nd student has been successfully created !!")

a=str(input("â€¢ Enter the name of 3rd student : "))
b=str(input("â€¢ Enter the Date of birth of 3rd student : "))
c=str(input("â€¢ Enter the class of 3rd student : " ))
print("Datebase for 3rd student has been successfully created !!")

a=str(input("â€¢ Enter the name of 4th student : "))
b=str(input("â€¢ Enter the Date of birth of 4th student : "))
c=str(input("â€¢ Enter the class of 4th student : " ))
print("Datebase for 4th student has been successfully created !!")

Enter the name of 1st student : Kavhein
Enter the Date of birth of 1st student : 27/02/2006
Enter the class of 1st student : XI
Datebase for 1st student is created successfully!!
Enter the name of 2nd student : Dharshana
Enter the Date of birth of 2nd student : 21/07/2005
Enter the class of 2nd student : XI
Datebase for 2nd student is created successfully!!
Enter the name of 3rd student : Pranav
Enter the Date of birth of 3rd student : 29/09/2010
Enter the class of 3rd student : VII
Datebase for 3rd student is created successfully!!
Enter the name of 4th student : Aadhitya
Enter the Date of birth of 4th student : 15/09/2005
Enter the class of 4th student : XI
Datebase for 4th student is created successfully!!